{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	{% comment %} <video src="{% static 'videos/NurseryVideo.mp4'%}" class="img-fluid rounded" style="height:550px;width:1180px"></video> {% endcomment %}
    <video width="1180px" height="550px" class="img-fluid rounded" controls autoplay="autoplay">
        <source src="{% static 'videos/nursery-vid.mp4'%}" type="video/mp4">
      </video>
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">


	
<div class="row">
	<div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-1.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-2.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-3.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

</div> <!-- row.// -->


<div class="row">
	<div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-4.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-5.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-6.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>
    
</div> <!-- row.// -->


<div class="row">
	<div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-7.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-8.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-9.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>
    
</div> <!-- row.// -->


<div class="row">
	<div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-10.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at office.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-111.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-12.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>
    
</div> <!-- row.// -->

<div class="row">
	<div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-13.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-14.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at home.</a>
			</figcaption>
		</div>
	</div>

    <div class="col-md-4">
		<div class="card card-product-grid">
			<a href="#" class="img-wrap"> <img src="{% static 'images/gallery image/photo-16.jpg'%}"> </a>
			<figcaption class="info-wrap" style="text-align:center">
				<a href="#" class="title">Our products at office.</a>
			</figcaption>
		</div>
	</div>
    
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->





</body>
</html>
{% endblock %}