{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">


	

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


<section class="section-name padding-y-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:25px"><b>Nursery Name</b></p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:25px"><b>Nursery Address</b></p>
            </div>
            <div class="col-md-6" style="text-align:center">
            <p style="font-size:25px"><b>Nursery Map</b></p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Uma-Shankar Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">Kane Building Ranade Road, near post Office, Dadar West, Dadar, Mumbai, Maharashtra 400028</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.975639397426!2d72.83868541488627!3d19.02079508711959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cedb24739b0f%3A0xc4c9104fd5781d68!2sUma%20Shankar%20Nursery!5e0!3m2!1sen!2sin!4v1644679793252!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Shiva Plant Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">Shop No 1 Th Kataria Marg, Station Subway, Matunga, Mumbai, Maharashtra 400016</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7543.581298672588!2d72.84622192465625!3d19.02894454845959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf53f33accf9%3A0x50288cfd859df483!2sShiva%20Plant%20Nursery!5e0!3m2!1sen!2sin!4v1644680211430!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Rock Garden Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">Bahtons Estate, Lane Opp Shalimar Petrol Pump, Dr. G. Gidwani Road, Chembur, Mumbai, Maharashtra 400074</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15085.826507821228!2d72.9049508!3d19.0436509!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfeb64d21b388cd9e!2sStudio%20Rock%20%26%20garden!5e0!3m2!1sen!2sin!4v1644682831427!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Flora Land Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">Opp. Punjab Sweet house, Pali naka, Market, Dr Ambedkar Rd, Bandra West, Mumbai, Maharashtra 400050</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.0208346474506!2d72.82724981395523!3d19.06282155734246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c96b61defcdf%3A0xafec91710a86ba95!2sFloraland!5e0!3m2!1sen!2sin!4v1644686121896!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Naresh Plant Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">119 Dadar Near Jawlakar Building, Dadar, Mumbai, Maharashtra 400028</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.879723047976!2d72.83759191395454!3d19.025020958518972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf6ee80b1ad3%3A0xb9acc98b0fbe3db5!2sNaresh%20Nursery!5e0!3m2!1sen!2sin!4v1644685847512!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Singh Plant Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">Near Raheja building, Dadar West, Dadar, Mumbai, Maharashtra 400028</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.083460023995!2d72.8264776139544!3d19.016043658798075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf3f224ebbbb%3A0x1741251bf3db496c!2sSingh%20Nursery!5e0!3m2!1sen!2sin!4v1644685952490!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Mother Nature Plant Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">Old Cadell Rd, Dadar West, Shivaji Park, Mumbai, Maharashtra 400028</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.793180638373!2d72.83554771395457!3d19.02883305840041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cfdf9bbf00e1%3A0x8b8046e9d5a8ccaf!2sMother%20Nature%20plants%20nursery!5e0!3m2!1sen!2sin!4v1644686048851!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Mansi Plant Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">22, Laxmi Narayan Ln, Near Kabutar khana, Matunga, Mumbai, Maharashtra 400019</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60348.80675651086!2d72.81665587910157!3d19.0285141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cfe30e56fd97%3A0x3d3e2a4862da419c!2sMANSI%20NURSERY!5e0!3m2!1sen!2sin!4v1644686309919!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Sai Plant Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">3VF2+GVM, Kolivery Village, University of Mumbai,Vidya Nagari, Kalina, Santacruz East, Mumbai, Maharashtra 400098</p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15083.081042182717!2d72.84341586977538!3d19.073836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c91dc3e02509%3A0xb459c6934e7a4a61!2sSai%20Plant%20Nursery!5e0!3m2!1sen!2sin!4v1644686566569!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Roadside Plant Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">3RFX+FVW, Kolivery Village, Shanti Nagar, Kalina, Santacruz East, Mumbai, Maharashtra 400055
            </p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.772204875537!2d72.84752081395536!3d19.07375055700192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c98d103d955f%3A0xf0f4d46e4978e84!2sRoadside%20plants%20nursury!5e0!3m2!1sen!2sin!4v1644686706524!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <br>
        <div class="row">
            <div class="col-md-3" >
            <p style="font-size:18px">Green Plant Nursery</p>
            </div>
            <div class="col-md-3" >
            <p style="font-size:18px">SV Rd, S.V. Road, Bandra West, Mumbai, Maharashtra 400050

            </p>
            </div>
            <div class="col-md-6" style="text-align:center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.177590341178!2d72.83492711395503!3d19.055927957557167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c945827ecba5%3A0x5f4452bad2630ef5!2sGreen%20plant%20nursery!5e0!3m2!1sen!2sin!4v1644686848576!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>


</body>
</html>
{% endblock %}